/* Course Cards Styles */

.Courses-Container 
{
    display: grid; 
    grid-template-columns: repeat(3, 430px);
    padding-top: 30px;
    justify-content: center;
    gap: 10px 0px;
}

.Course-Card 
{
    height: 470px;
    width: 380px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(214, 214, 214);
    display: flex; 
    flex-direction: column;
}

.Course-Card:hover
{
    cursor: pointer; 
    background-color: rgba(101, 101, 101, 0.086);
}   

.Info-Container 
{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Info-Container p
{
    margin: 2px 0;
}

.Course-Title
{ 
    padding-top: 5px;
    font-size: 18px; 
    font-weight: 400;
    color:rgb(58, 58, 58); 
}

.Course-Description
{
    font-size: 17px; 
    font-weight: 300;
}

.Course-Author
{
    font-size: 12px; 
    color: rgb(78, 78, 78);
}

.Course-Tags
{
    display: flex;
   flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 6px; 
}

.Tag-Container
{
    margin-top: 10px;
    align-items: center;
    justify-content:center;
    display: inline-flex;
    height: 20px;
    width: fit-content;
    gap: 5px;
    padding: 2px 8px;
    border-radius: 5px; 
    border: 1px solid rgb(173, 173, 173);
    white-space: nowrap;
}

.Tag-Container p
{
    font-size: 12px;
    color: rgb(78, 78, 78);
    font-weight: 500;
}

.Star-Icon
{
    display: inline-block;
    width: 12px; 
    height: 12px; 
    background-color: rgb(216, 124, 3);
    -webkit-mask: url("../assets/star.svg") no-repeat center / contain;
    mask: url("../assets/star.svg") no-repeat center / contain;  
}

.Course-Price-Container 
{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Add-to-Cart-Button
{ 
    background-color: rgb(255, 255, 255);
    border: solid 0.6px rgb(105, 1, 216);
    border-radius: 10px;
}

.Add-to-Cart-Button:hover 
{
    cursor: pointer; 
    background-color: rgba(101, 101, 101, 0.086); 
}

.Add-to-Cart-Button p
{ 
    font-size: 12px; 
    color: rgb(105, 1, 216);
    font-weight: 800;
}

.Course-Image-1
{ 
    height: 220px; 
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/Thumbnails/TestThumbnail.jpg"); 
    background-size: cover;
    background-position: center; 
    border-radius: 10px;
    flex-shrink: 0;
}
