/* Navigation Bar Styles */

.nav-container
{
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
    position: sticky;
    top: 0;
    overflow: visible;
    padding-left: 5px;
}

.nav-logo 
{
    padding:5px;
    align-items: center;
    display: flex;
    padding-left: 25px;
    flex-shrink: 0;
}

.Main-Logo
{
    align-items: center;
    width: 90px;
    height: 35px;
    flex-shrink: 0;
    object-fit: contain;
}

.nav-links
{ 
    color: rgb(95, 86, 128);
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    height: 40px; 
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links:hover
{
    background-color: rgba(157, 65, 255, 0.086);
    color: rgb(161, 54, 248);
}

.nav-links-search-container 
{
    display: flex; 
    justify-content: space-evenly;
    gap: 2px;
}

.nav-search-container
{ 
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1060px;
    width: 100%;
    padding-left: 20px; 
}

.nav-search-bar
{ 
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.363);
    height: 44px; 
    width: 100%;
    max-width: 1015px;
    padding-left: 42px;
}

.nav-search-bar:focus
{
    outline:none; 
    border: 1.9px solid rgb(119, 0, 255);
} 

.nav-search-icon
{
    position: absolute;
    width: 15px;
    height: 15px; 
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
    background-color: grey;
    -webkit-mask: url("../assets/search_icon.svg") no-repeat center / contain; 
    mask: url("../assets/search_icon.svg") no-repeat center / contain; 
}

.nav-links-other
{
    color: rgb(95, 86, 128);
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    height: 40px; 
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links-other:hover 
{
    background-color: rgba(161, 49, 252, 0.075);
    color: rgb(161, 54, 248);
}

.nav-links-search-container-right
{
     display: flex; 
    justify-content: space-evenly;
    gap: 3px;
    padding-left: 10px;
    align-items: center;
}

.nav-links-icon-container
{
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
    padding-left: 10px;
    align-items: center;
}

.nav-globe-icon
{ 
    display: inline-block; 
    width: 18px;
    height: 18px;
    background-color: rgb(63, 63, 63);
    -webkit-mask: url("../assets/globe.svg") no-repeat center / contain;
    mask: url("../assets/globe.svg") no-repeat center / contain;
}

.nav-globe-button
{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1.5px solid rgb(105, 36, 255);
    align-items:center; 
    justify-content: center;
}

.nav-globe-button:hover 
{
    cursor: pointer; 
    background-color: rgba(157, 65, 255, 0.086);
}

.nav-cart-icon
{
    display: inline-block; 
    width: 18px;
    height: 18px;
    background-color: rgb(68, 68, 68);
    -webkit-mask: url("../assets/cart.svg") no-repeat center / contain;
    mask: url("../assets/cart.svg") no-repeat center / contain;
}

.nav-cart-icon:hover
{
    cursor: pointer; 
    background-color: rgb(105, 36, 255);
}

.nav-links-cart
{
    width: 40px; 
    height: 40px; 
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    display: flex;
}

.nav-links-cart:hover
{
    cursor: pointer;
    background-color: rgba(157, 65, 255, 0.086);
}

.nav-links-cart:hover .nav-cart-icon
{
    background-color: rgb(105, 36, 255);
}

.nav-register-button 
{
    background-color:  rgb(105, 1, 216);
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
    border: none;
}

.nav-register-text
{
    color:white;
    font-weight: 900;
}

.nav-register-button:hover
{
    cursor: pointer; 
    background-color:  rgb(138, 36, 255);
}

.nav-login-button 
{
    background-color:  rgb(255, 255, 255);
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
    border: 1.5px solid rgb(105, 1, 216);
}

.nav-login-button:hover 
{
    cursor: pointer; 
    background-color: rgba(157, 65, 255, 0.086);
}

.nav-login-text
{
    color:rgb(105, 1, 216);
    font-weight: 900;
}


