/* Recommendations Banner Styles */

.Reccommendations
{ 
    display: flex;
    height: 130px;
    background-color: rgba(243, 243, 243, 0.716);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
    align-items: center;
    justify-content: center;
    padding-right: 650px;
}

.recommended-title
{ 
    margin: 0; 
    font-size: 16px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.708); 
}

.reccommendations-container 
{
    display: flex;
    justify-content: center;
    align-items:center;
}

.reccommendations-button-container
{ 
    display: flex;
    gap: 9px;
}

.reccommendations-button 
{ 
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
    padding: 0 15px;
    display: flex;
    align-items: center;
    outline: 0.7px solid rgba(222, 222, 222, 0.782);
}

.reccommendations-button:hover
{ 
    cursor: pointer; 
    background-color: rgba(101, 101, 101, 0.086); 
}

.reccommendations-text 
{ 
    font-size: 12.5px;
    color: rgba(30, 30, 30, 0.708); 
}

.reccommendations-icon
{
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background-color: rgb(115, 33, 255);
    -webkit-mask: url("../assets/arrow.svg") no-repeat center / contain;
    mask: url("../assets/arrow.svg") no-repeat center / contain;
}

/* Course Recommendations Section */

.Course-Reccommendations
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.Card-Reccommendation-Container 
{
    margin-left: 310px;
    display: grid; 
    grid-template-columns: repeat(4, 290px);
    justify-content: center;
    gap: 20px 30px;
    width: fit-content;
}

.Title-Reccomendations-Container
{
    margin-top: 40px;
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    margin-left: 310px;
}

.Title-Reccomendations-Container p
{
    font-size: 20px;
}

.Course-Reccommendation-Card
{
    height: 320px;
    width: 270px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(214, 214, 214);
    display: flex; 
    flex-direction: column;
}

.Course-Reccommendation-Card:hover
{
    cursor: pointer; 
    background-color: rgba(101, 101, 101, 0.086);
}

.Course-Reccommendation-Card p
{
    margin: 2px 0;
}

.Course-Reccomendation-Image
{
    border-radius: 10px;
}

.Course-Reccommendation-Author
{
    font-size: 12px;
    color: rgb(78, 78, 78);
}

.Course-Reccomendation-Title
{
    display: flex;
    align-items: center;
    gap: 1px 8px;
}

.Course-Reccomendation-Tags
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.Course-Reccommendation-Price-Container
{
    margin-top: 30px;
    display: flex;
  
}
