body
{ 
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}



.nav-container
{
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
    position: sticky;
    top: 0;
    overflow: hidden;
    padding-left: 5px;
}

/* Logo Containers */

.nav-logo 
{
    padding:5px;
    align-items: center;
    display: flex;
    padding-left: 25px;
    flex-shrink: 0;
}


.Main-Logo
{
    align-items: center;
    width: 90px;
    height: 35px;
    flex-shrink: 0;
    object-fit: contain;
}

/* Left Side link buttons */

.nav-links
{ 
    color: rgb(95, 86, 128);
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    height: 40px; 
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links:hover
{
    background-color: rgba(157, 65, 255, 0.086);
    color: rgb(161, 54, 248);
}




/* Search Bar Containers */

.nav-links-search-container 
{
    display: flex; 
    justify-content: space-evenly;
    gap: 2px;
}

.nav-search-container
{ 
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1060px;
    width: 100%;
    padding-left: 20px; 
}

.nav-search-bar
{ 
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.363);
    height: 44px; 
    width: 100%;
    max-width: 1015px;
    padding-left: 42px;
}

.nav-search-bar:focus
{
    outline:none; 
    border: 1.9px solid rgb(119, 0, 255);
} 


.nav-search-icon
{
    position: absolute;
    width: 15px;
    height: 15px; 
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
    background-color: grey;
    -webkit-mask: url("./assets/search_icon.svg") no-repeat center / contain; 
    mask: url("./assets/search_icon.svg") no-repeat center / contain; 
}


/* Right Side link buttons */

.nav-links-other
{
    color: rgb(95, 86, 128);
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    height: 40px; 
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-links-other:hover 
{
    background-color: rgba(161, 49, 252, 0.075);
    color: rgb(161, 54, 248);
}




/* Container for right side items */


.nav-links-search-container-right
{
     display: flex; 
    justify-content: space-evenly;
    gap: 3px;
    padding-left: 10px;
    align-items: center;
}


.nav-links-icon-container
{
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
    padding-left: 10px;
    align-items: center;
}



/* Globe and Cart icons */

.nav-globe-icon
{ 
    display: inline-block; 
    width: 18px;
    height: 18px;
    background-color: rgb(63, 63, 63);
    -webkit-mask: url("./assets/globe.svg") no-repeat center / contain;
    mask: url("./assets/globe.svg") no-repeat center / contain;
}

.nav-globe-button
{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1.5px solid rgb(105, 36, 255);
    align-items:center; 
    justify-content: center;
}

.nav-globe-button:hover 
{
    cursor: pointer; 
    background-color: rgba(157, 65, 255, 0.086);
}

.nav-cart-icon
{
    display: inline-block; 
    width: 18px;
    height: 18px;
    background-color: rgb(68, 68, 68);
    -webkit-mask: url("./assets/cart.svg") no-repeat center / contain;
    mask: url("./assets/cart.svg") no-repeat center / contain;
}

.nav-cart-icon:hover
{
    cursor: pointer; 
    background-color: rgb(105, 36, 255);
}

.nav-links-cart
{
    width: 40px; 
    height: 40px; 
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    display: flex;
}
.nav-links-cart:hover
{
    cursor: pointer;
    background-color: rgba(157, 65, 255, 0.086);
}

.nav-links-cart:hover .nav-cart-icon
{
    background-color: rgb(105, 36, 255);
}


.nav-cart-button
{ 
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* Login and Register Buttons */


.nav-register-button 
{
    background-color:  rgb(105, 1, 216);
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
    border: none;
}

.nav-register-text
{
    color:white;
      font-weight: 900;
}

.nav-register-button:hover
{
    cursor: pointer; 
     background-color:  rgb(138, 36, 255);
}

.nav-login-button 
{
    background-color:  rgb(255, 255, 255);
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
    border: 1.5px solid rgb(105, 1, 216);
}

.nav-login-button:hover 
{
    cursor: pointer; 
    background-color: rgba(157, 65, 255, 0.086);
}

.nav-login-text
{
    color:rgb(105, 1, 216);
      font-weight: 900;

}

/*---------Banner Reccomendations-----------*/


.Reccommendations
{ 
    display: flex;
    height: 130px;
    background-color: rgba(243, 243, 243, 0.716);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
    align-items: center;
    justify-content: center;
    padding-right: 650px;
}


.recommended-title
{ 
    margin: 0; 
    font-size: 16px;
    padding-bottom: 20px;

    color: rgba(0, 0, 0, 0.708); 
}

.reccommendations-container 
{
    display: flex;
    justify-content: center;
    align-items:center;
}

.reccommendations-button-container
{ 
    display: flex;
    gap: 9px;
}

.reccommendations-button 
{ 
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
    padding: 0 15px;
    display: flex;
    align-items: center;
    outline: 0.7px solid rgba(222, 222, 222, 0.782);
}

.reccommendations-button:hover
{ 
    cursor: pointer; 
    background-color: rgba(101, 101, 101, 0.086); 
}

.reccommendations-text 
{ 
    font-size: 12.5px;
    color: rgba(30, 30, 30, 0.708); 
}

.reccommendations-icon
{
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background-color: rgb(115, 33, 255);
    -webkit-mask: url("./assets/arrow.svg") no-repeat center / contain;
    mask: url("./assets/arrow.svg") no-repeat center / contain;
}

/*---------Main Cards Section-----------*/

.Filter-Container
{
    display: flex; 
    justify-content: center;
    align-items: center;
}


.Filters
{ 
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 25px;
    padding-right: 230px;
}

.filter-button
{ 
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
    height: 40px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    outline: 0.7px solid rgba(107, 107, 107, 0.782);
    gap: 6px;
}

.filter-button:hover
{
    cursor: pointer; 
    background-color: rgba(101, 101, 101, 0.086); 
    
}

.filter-text
{ 
        font-size: 12.5px;
       color: rgba(15, 15, 15, 0.753); 
}


/* Filter Icons */




.filter-icon
{
    display: inline-block;
    width: 20px; 
    height: 20px; 
  
    background-color: rgb(51, 51, 51);
    -webkit-mask: url("./assets/Filter.svg") no-repeat center / contain;
    mask: url("./assets/Filter.svg") no-repeat center / contain;
}

.Quizzes-icon
{
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background-color: rgb(51, 51, 51);
    -webkit-mask: url("./assets/quizzes.svg") no-repeat center / contain;
    mask: url("./assets/quizzes.svg") no-repeat center / contain;  
}

.Coding-icon
{
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background-color: rgb(51, 51, 51);
    -webkit-mask: url("./assets/code.svg") no-repeat center / contain;
    mask: url("./assets/code.svg") no-repeat center / contain;  
}

.Practice-icon
{
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background-color: rgb(51, 51, 51);
    -webkit-mask: url("./assets/practice.svg") no-repeat center / contain;
    mask: url("./assets/practice.svg") no-repeat center / contain;  
}

.Roleplay-icon
{
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background-color: rgb(51, 51, 51);
    -webkit-mask: url("./assets/persons.svg") no-repeat center / contain;
    mask: url("./assets/persons.svg") no-repeat center / contain;
}

.Dropdown-icon
{
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background-color: rgb(51, 51, 51);
    -webkit-mask: url("./assets/dropdown.svg") no-repeat center / contain;
    mask: url("./assets/dropdown.svg") no-repeat center / contain;
}


/* Relevance Dropdown Button */

.Most-Relevant-Container
{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 20px;
}


.filter-Dropdown-button
{
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter-Dropdown-text
{
    font-size: 12.5px;
    color: rgb(78, 78, 78);
    font-weight: 800;
}

.filter-Dropdown-button:hover 
{
    cursor: pointer; 
    background-color:rgba(101, 101, 101, 0.086); 
}



/*Main Cards Section */


.Courses-Container 
{
    display: grid; 
    grid-template-columns: repeat(3, 400px);
    padding-top: 30px;
    justify-content: center;
    gap: 20px 30px;
    margin-right: 40px;
    
}

.Course-Card 
{
    height: 460px;
    width: 380px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(214, 214, 214);
    display: flex; 
    flex-direction: column;
}

.Course-Card:hover
{
    cursor: pointer; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(101, 101, 101, 0.086);
}   

.Info-Container 
{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Info-Container p
{
    margin: 2px 0;
}



.Course-Title
{ 
    font-size: 18px; 
    color:rgb(58, 58, 58); 
}

.Course-Description
{
    font-size: 17px; 
    font-weight: 50;
}

.Course-Author
{
    font-size: 12px; 
    color: rgb(78, 78, 78);
}

.Course-Tags
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0 6px; 
}

.Course-Price-Container 
{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Add-to-Cart-Button
{ 
    background-color: rgb(255, 255, 255);
    border: solid 0.6px rgb(105, 1, 216);
    border-radius: 10px;
}

.Add-to-Cart-Button:hover 
{
    cursor: pointer; 
    background-color: rgba(101, 101, 101, 0.086); 
}

.Add-to-Cart-Button p
{ 
    font-size: 12px; 
    color: rgb(105, 1, 216);
    font-weight: 800;
}


.Tag-Container
{
    margin-top: 10px;
    align-items: center;
    justify-content:center;
    white-space: nowrap;
    display: inline-flex;
    height: 20px;
    width: fit-content;
    padding: 2px 8px;
    border-radius: 5px; 
    border: 1px solid rgb(173, 173, 173); 
}

.Tag-Container p
{
    font-size: 11px;
    color: rgb(109, 109, 109);
    font-weight: 500;
}

.Star-Icon
{
    display: inline-block;
    width: 12px; 
    height: 12px; 
    background-color: rgb(216, 124, 3);
    -webkit-mask: url("./assets/star.svg") no-repeat center / contain;
    mask: url("./assets/star.svg") no-repeat center / contain;  
}



.Course-Image-1
{ 
    height: 220px; 
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/Thumbnails/TestThumbnail.jpg"); 
    background-size: cover;
    background-position: center; 
    border-radius: 10px;
    flex-shrink: 0;
}


/* Course Reccomendations Section */

.Course-Reccommendations
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}


.Card-Reccommendation-Container 
{
    margin-left: 300px;
    display: grid; 
    grid-template-columns: repeat(4, 290px);
    justify-content: center;
    gap: 20px 30px;
    width: fit-content;

}

.Title-Reccomendations-Container
{
    margin-top: 40px;
    display: flex;
    width: 100%;
    margin-left:300px;
}


.Title-Reccommendations-Container p
{
    font-size: 20px;
}

.Course-Reccommendation-Card
{
    height: 360px;
    width: 270px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(214, 214, 214);
    display: flex; 
    flex-direction: column;
}

.Course-Reccommendation-Card:hover
{
    cursor: pointer; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(101, 101, 101, 0.086);
}

.Course-Reccommendation-Card p
{
    margin: 3px 0;
}

.Course-Reccommendation-Image
{
    border-radius: 10px;
}

.Course-Reccommendation-Author
{
    font-size: 11px;
    color: rgb(78, 78, 78);
}

.Course-Reccommendations-Title
{
    display: flex;
    align-items: center;
    gap: 2px 8px;
    padding-top: 10px;
    
    font-size: 18px; 
    color:rgb(58, 58, 58); 
}

.Course-Reccommendation-Price-Container
{
    display: flex;
    margin-top: 10px;
    align-items: center;
}



















