
<section class = "Related-Searches">

    <div class = "Title-Related-Searches">
        <p>Related searches</p>
        <span class = "about" aria-hidden="true"></span>
    </div>


    <div class = "Related-Searches-Container"> 
     
        <button class = "Related-Item">React Beginners</button>
        <button class = "Related-Item">JavaScript</button>
        <button class = "Related-Item">Python Bootcamp</button>
        <button class = "Related-Item">Machine Learning Basics</button>
        <button class = "Related-Item">Node.js Development</button>
        <button class = "Related-Item">UI/UX Design</button>
        <button class = "Related-Item">Data Structures</button>
        <button class = "Related-Item">AWS Cloud</button>
        <button class = "Related-Item">TypeScript Course</button>
        <button class = "Related-Item">Data Analysis</button>
        <button class = "Related-Item">Cybersecurity</button>
    </div>

</section>

<section class = "Page-Number"> 

    <div class = "Page-Number-Container"> 

        <span class = "Previous" aria-hidden = "true"></span>
        <button class = "Page-Number-Item-First">1</button>
        <button class = "Page-Number-Item">2</button>
        <button class = "Page-Number-Item">3</button>
        <button class = "Page-Number-Item-black">...</button>
        <button class = "Page-Number-Item-black">417</button>
        <span class = "Next" aria-hidden = "true"></span>

    </div>



</section>