<section class = "Courses-Container">


            <div  class = "Course-Card"> 

                <div class = "Course-Image-1"></div>

                <div class = "Info-Container">

                    <p class = "Course-Title"><b>The Complete Get Rich in 5 minutes Development Bootcamp</b></p>
                    <p class = "Course-Description">Learn how to get rich in 5 minutes with this amazing course</p>
                    <p class = "Course-Author">Dr.Ben Dover, Developer Multi-Billionaire </p>

                <div class = "Course-Tags"> 
                    <div class = "Tag-Container">
                        <span class = "Star-Icon" aria-hidden="true"></span>
                        <p class = "Tag-Text">4.7</p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text"><b>Best Seller</b></p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">465,071 ratings</p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">62 total hours</p>
                    </div>
                    
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">374 lectures</p>
                    </div>
                    
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">All levels</p>
                    </div>
                </div>

                <div class = "Course-Price-Container"> 
                    <p class = "Course-Price"><b>₱1900.99</b></p>

                    <button class ="Add-to-Cart-Button">
                        <p>Add to cart</p>
                    </button>
                </div>


                </div>
            </div>

               <div  class = "Course-Card"> 

                <div class = "Course-Image-1"></div>

                <div class = "Info-Container">

                    <p class = "Course-Title"><b>The Complete Get Rich in 5 minutes Development Bootcamp</b></p>
                    <p class = "Course-Description">Learn how to get rich in 5 minutes with this amazing course</p>
                    <p class = "Course-Author">Dr.Ben Dover, Developer Multi-Billionaire </p>

                <div class = "Course-Tags"> 
                    <div class = "Tag-Container">
                        <span class = "Star-Icon" aria-hidden="true"></span>
                        <p class = "Tag-Text">4.7</p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text"><b>Best Seller</b></p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">465,071 ratings</p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">62 total hours</p>
                    </div>
                    
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">374 lectures</p>
                    </div>
                    
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">All levels</p>
                    </div>
                </div>

                <div class = "Course-Price-Container"> 
                    <p class = "Course-Price"><b>₱1900.99</b></p>

                    <button class ="Add-to-Cart-Button">
                        <p>Add to cart</p>
                    </button>
                </div>


                </div>
            </div>

             <div  class = "Course-Card"> 

                <div class = "Course-Image-1"></div>

                <div class = "Info-Container">

                    <p class = "Course-Title"><b>The Complete Get Rich in 5 minutes Development Bootcamp</b></p>
                    <p class = "Course-Description">Learn how to get rich in 5 minutes with this amazing course</p>
                    <p class = "Course-Author">Dr.Ben Dover, Developer Multi-Billionaire </p>

                <div class = "Course-Tags"> 
                    <div class = "Tag-Container">
                        <span class = "Star-Icon" aria-hidden="true"></span>
                        <p class = "Tag-Text">4.7</p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text"><b>Best Seller</b></p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">465,071 ratings</p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">62 total hours</p>
                    </div>
                    
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">374 lectures</p>
                    </div>
                    
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">All levels</p>
                    </div>
                </div>

                <div class = "Course-Price-Container"> 
                    <p class = "Course-Price"><b>₱1900.99</b></p>

                    <button class ="Add-to-Cart-Button">
                        <p>Add to cart</p>
                    </button>
                </div>


                </div>
            </div>
            <div  class = "Course-Card"> 

                <div class = "Course-Image-1"></div>

                <div class = "Info-Container">

                    <p class = "Course-Title"><b>The Complete Get Rich in 5 minutes Development Bootcamp</b></p>
                    <p class = "Course-Description">Learn how to get rich in 5 minutes with this amazing course</p>
                    <p class = "Course-Author">Dr.Ben Dover, Developer Multi-Billionaire </p>

                <div class = "Course-Tags"> 
                    <div class = "Tag-Container">
                        <span class = "Star-Icon" aria-hidden="true"></span>
                        <p class = "Tag-Text">4.7</p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text"><b>Best Seller</b></p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">465,071 ratings</p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">62 total hours</p>
                    </div>
                    
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">374 lectures</p>
                    </div>
                    
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">All levels</p>
                    </div>
                </div>

                <div class = "Course-Price-Container"> 
                    <p class = "Course-Price"><b>₱1900.99</b></p>

                    <button class ="Add-to-Cart-Button">
                        <p>Add to cart</p>
                    </button>
                </div>


                </div>
            </div>
            <div  class = "Course-Card"> 

                <div class = "Course-Image-1"></div>

                <div class = "Info-Container">

                    <p class = "Course-Title"><b>The Complete Get Rich in 5 minutes Development Bootcamp</b></p>
                    <p class = "Course-Description">Learn how to get rich in 5 minutes with this amazing course</p>
                    <p class = "Course-Author">Dr.Ben Dover, Developer Multi-Billionaire </p>

                <div class = "Course-Tags"> 
                    <div class = "Tag-Container">
                        <span class = "Star-Icon" aria-hidden="true"></span>
                        <p class = "Tag-Text">4.7</p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text"><b>Best Seller</b></p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">465,071 ratings</p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">62 total hours</p>
                    </div>
                    
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">374 lectures</p>
                    </div>
                    
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">All levels</p>
                    </div>
                </div>

                <div class = "Course-Price-Container"> 
                    <p class = "Course-Price"><b>₱1900.99</b></p>

                    <button class ="Add-to-Cart-Button">
                        <p>Add to cart</p>
                    </button>
                </div>


                </div>
            </div>
            <div  class = "Course-Card"> 

                <div class = "Course-Image-1"></div>

                <div class = "Info-Container">

                    <p class = "Course-Title"><b>The Complete Get Rich in 5 minutes Development Bootcamp</b></p>
                    <p class = "Course-Description">Learn how to get rich in 5 minutes with this amazing course</p>
                    <p class = "Course-Author">Dr.Ben Dover, Developer Multi-Billionaire </p>

                <div class = "Course-Tags"> 
                    <div class = "Tag-Container">
                        <span class = "Star-Icon" aria-hidden="true"></span>
                        <p class = "Tag-Text">4.7</p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text"><b>Best Seller</b></p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">465,071 ratings</p>
                    </div>
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">62 total hours</p>
                    </div>
                    
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">374 lectures</p>
                    </div>
                    
                     <div class = "Tag-Container">
                        <p class = "Tag-Text">All levels</p>
                    </div>
                </div>

                <div class = "Course-Price-Container"> 
                    <p class = "Course-Price"><b>₱1900.99</b></p>

                    <button class ="Add-to-Cart-Button">
                        <p>Add to cart</p>
                    </button>
                </div>


                </div>
            </div>

        </section>
