<section class = "Course-Reccomendations">

            <div class = "Title-Reccomendations-Container"> 
                <p class = "Course-Reccommendations-Title"><b>Hot and Fresh Courses</b></p>
            </div>

        <div class = "Card-Reccommendation-Container"> 

        
         <div class = "Course-Reccommendation-Card">

            <img src = "./assets/Thumbnails/ai-baby.jpg" class = "Course-Reccomendation-Image">

            <p class = "Course-Reccomemndation-Title"><b>Artificial Intelligence for Beginners</b></p>

                <p class = "Course-Reccommendation-Author">John Doe, AI Expert</p>

                <div class = "Course-Reccommendation-Tags"> 

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">new</p>
                    </div>

                    <div class = "Tag-Container">
                        <span class = "Star-Icon" aria-hidden="true"></span>
                        <p class = "Tag-Text">4.8</p>
                    </div>

                    <div class = "Tag-Container">
                        <p class = "Tag-Text">6 reviews</p>
                    </div>

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">3 total hours</p>
                    </div>

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">24 lectures</p>
                    </div>

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">All levels</p>
                    </div>
        </div>

        <div class = "Course-Reccommendation-Price-Container">

        <p class = "Course-Reccommendation-Price"><b>₱500.99</b></p>

        </div>

        </div>

        
         <div class = "Course-Reccommendation-Card">

            <img src = "./assets/Thumbnails/ai-baby.jpg" class = "Course-Reccomendation-Image">

            <p class = "Course-Reccomemndation-Title"><b>Artificial Intelligence for Beginners</b></p>

                <p class = "Course-Reccommendation-Author">John Doe, AI Expert</p>

                <div class = "Course-Reccommendation-Tags"> 

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">new</p>
                    </div>

                    <div class = "Tag-Container">
                        <span class = "Star-Icon" aria-hidden="true"></span>
                        <p class = "Tag-Text">4.8</p>
                    </div>

                    <div class = "Tag-Container">
                        <p class = "Tag-Text">6 reviews</p>
                    </div>

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">3 total hours</p>
                    </div>

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">24 lectures</p>
                    </div>

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">All levels</p>
                    </div>
        </div>

        <div class = "Course-Reccommendation-Price-Container">

        <p class = "Course-Reccommendation-Price"><b>₱500.99</b></p>

        </div>

        </div>

        
         <div class = "Course-Reccommendation-Card">

            <img src = "./assets/Thumbnails/ai-baby.jpg" class = "Course-Reccomendation-Image">

            <p class = "Course-Reccomemndation-Title"><b>Artificial Intelligence for Beginners</b></p>

                <p class = "Course-Reccommendation-Author">John Doe, AI Expert</p>

                <div class = "Course-Reccommendation-Tags"> 

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">new</p>
                    </div>

                    <div class = "Tag-Container">
                        <span class = "Star-Icon" aria-hidden="true"></span>
                        <p class = "Tag-Text">4.8</p>
                    </div>

                    <div class = "Tag-Container">
                        <p class = "Tag-Text">6 reviews</p>
                    </div>

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">3 total hours</p>
                    </div>

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">24 lectures</p>
                    </div>

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">All levels</p>
                    </div>
        </div>

        <div class = "Course-Reccommendation-Price-Container">

        <p class = "Course-Reccommendation-Price"><b>₱500.99</b></p>

        </div>

        </div>

        
         <div class = "Course-Reccommendation-Card">

            <img src = "./assets/Thumbnails/ai-baby.jpg" class = "Course-Reccomendation-Image">

            <p class = "Course-Reccomemndation-Title"><b>Artificial Intelligence for Beginners</b></p>

                <p class = "Course-Reccommendation-Author">John Doe, AI Expert</p>

                <div class = "Course-Reccommendation-Tags"> 

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">new</p>
                    </div>

                    <div class = "Tag-Container">
                        <span class = "Star-Icon" aria-hidden="true"></span>
                        <p class = "Tag-Text">4.8</p>
                    </div>

                    <div class = "Tag-Container">
                        <p class = "Tag-Text">6 reviews</p>
                    </div>

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">3 total hours</p>
                    </div>

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">24 lectures</p>
                    </div>

                     <div class = "Tag-Container">
                        <p class = "Tag-Text">All levels</p>
                    </div>
        </div>

        <div class = "Course-Reccommendation-Price-Container">

        <p class = "Course-Reccommendation-Price"><b>₱500.99</b></p>

        </div>

        </div>
        </div>
         

        </section>
