<section class = "Filter-Container">
    <div class = "Filters"> 
        <button class = "filter-button">
            <span class = "filter-icon" aria-hidden="true"></span>
            <p class = "filter-text">All filters</p>
        </button>

          <button class = "filter-button">
            <span class = "Quizzes-icon" aria-hidden="true"></span>
            <p class = "filter-text">Quizzes</p>
        </button>

           <button class = "filter-button">
            <span class = "Coding-icon" aria-hidden="true"></span>
            <p class = "filter-text">Coding Exercises</p>
        </button>

           <button class = "filter-button">
            <span class = "Practice-icon" aria-hidden="true"></span>
            <p class = "filter-text">Practice Tests</p>
        </button>

           <button class = "filter-button">
            <span class = "Roleplay-icon" aria-hidden="true"></span>
            <p class = "filter-text">Role Plays</p>
        </button>

           <button class = "filter-button">
            <p class = "filter-text">Ratings</p>
            <span class = "Dropdown-icon" aria-hidden="true"></span>
        </button>

           <button class = "filter-button">
            <p class = "filter-text">Level</p>
            <span class = "Dropdown-icon" aria-hidden="true"></span>
        </button>
    </div>

    <div class = "Most-Relevant-Container">
        <button class = "filter-Dropdown-button">
            <p class = "filter-Dropdown-text">Most Relevant</p>
            <span class = "Dropdown-icon" aria-hidden="true"></span>
        </button>
    </div> 
</section>
