<nav class="navigation"> 
    <div class = "nav-container">
        
        <!--Udemy Logo-->
        <div class = "nav-logo"> 
            <img src = "./assets/Udemy_logo.svg.png" class = "Main-Logo">
        </div>                
        
        <!--Left Side Links-->
        <div class ="nav-links-search-container">
            <a><p class = "nav-links">Explore</p></a>
            <a><p class = "nav-links">Subscribe</p></a>
        </div>

        <div class = "nav-search-container">
            <span class = "nav-search-icon" aria-hidden="true"></span>
            <input placeholder = "Search for anything" class = "nav-search-bar" type = "text">
        </div>

        <!--Right Side Links-->
        <div class = "nav-links-search-container-right"> 
            
            <a><p class = "nav-links-other">Udemy Business</p></a>
            <a><p class = "nav-links-other">Teach on Udemy</p></a>
            
            <a class = "nav-links-cart"><span class = "nav-cart-icon" aria-hidden="true"></span></a>
        </div>

    <!--Right Side Button-->
        <div class = "nav-links-icon-container"> 
            <button class = "nav-login-button">
                <p class = "nav-login-text"> Login </p>
            </button>
            <button class = "nav-register-button">
                <p class = "nav-register-text"> Sign up </p>
            </button>
            <button class = "nav-globe-button">
               <span class = "nav-globe-icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</nav>
