<section class = "Reccommendations">
    <div class = "reccomendations-container">
        <p class = "recommended-title">Recommended in<b> web development</b></p>

        <div class = "reccommendations-button-container">
            <button class = "reccommendations-button">
                <span class = "reccommendations-icon" aria-hidden="true"></span>
                <p class = "reccommendations-text">React</p>
            </button>

            <button class = "reccommendations-button">
                <span class = "reccommendations-icon" aria-hidden="true"></span>
                <p class = "reccommendations-text">Front-End Development</p>
            </button>

            <button class = "reccommendations-button">
                <span class = "reccommendations-icon" aria-hidden="true"></span>
                <p class = "reccommendations-text">MERN Stack</p>
            </button>

            <button class = "reccommendations-button">
                <span class = "reccommendations-icon" aria-hidden="true"></span>
                <p class = "reccommendations-text">Python and Django Framework</p>
            </button>
        </div>
    </div>
</section>
